.sidebar-list i {
  color: #007bff;
  font-size: 1.5rem; 
}

.sidebar-list span {
  color: #333;
}

.sidebar-list button {
  background: none;
  border: none;
  color: #000000; 
  cursor: pointer;
  text-align: left; 
  padding: 10px 0; 
  width: 100%; 
  font-size: 1.2rem; 
  font-family: 'Roboto', sans-serif; 
}

.sidebar-list button:hover {
  background-color: #e9ecef; 
}

.submenu-list {
list-style-type: none;
padding-left: 20px;  
}

.submenu-list li {
padding: 5px 0;
}

.submenu-list button {
font-size: 1rem;
}
