<div class="card-container">
  <form [formGroup]="registerForm">
    <div class="form-container">
      <h1>REGISTER</h1>
      <span>Complete the Form</span>
      <div class="input-row">
        <app-input [control]="nameControl" label="Name"></app-input>
        <app-input [control]="lastNameControl" label="Last Name"></app-input>
      </div>
      <div class="input-row">
        <app-input [control]="emailControl" label="Email"></app-input>
        <app-input [control]="passwordControl" label="Password" type="password" ></app-input>

      </div>
      <div class="input-row">
        <app-input [control]="documentNumberControl" label="Document Number"></app-input>
        <app-input [control]="phoneControl" label="Phone Number" type="number" ></app-input>


      </div>
      <div class="input-row">
        <app-dropdown [options]="documents" formControlName="document_type" optionLabel="name"
        placeholder="Type Document"></app-dropdown>
        <app-dropdown [options]="selectedRoles" formControlName="role" optionLabel="name"
          placeholder="Select a Role"></app-dropdown>
      </div>
      <div class="input-row">
        <app-dropdown [options]="selectedDepartments" formControlName="department" optionLabel="name"
          placeholder="Select a Department"></app-dropdown>

          <app-dropdown [options]="status" formControlName="status" optionLabel="status"
          placeholder="Select a Status"></app-dropdown>
      </div>
      <app-button (buttonClick)="onSubmit()" text="Register"></app-button>
    </div>
  </form>

  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
</div>
