.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;

}

.input-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}



input:focus {
  border-color: #007bff;
  outline: none;
}

.p-card {
  width: auto;
  max-width: 100%;


}
