<div class="card-container">
  <form [formGroup]="requestForm">
    <div class="form-container">
      <h1>Create a Maintenance</h1>
      <span>Complete the Form</span>
      <div class="input-row">
        <app-input [control]="nameControl" label="Title"></app-input>
        <app-input [control]="descriptionControl" label="Description"></app-input>
      </div>
      <div class="input-row">
        <app-dropdown [options]="selectedDepartment" formControlName="department" optionLabel="name"
          placeholder="Select a Department"></app-dropdown>
        <app-dropdown [options]="selectedMaintType" formControlName="maintenanceType" optionLabel="name"
          placeholder=" Maintenance Type"></app-dropdown>
      </div>
      <div class="input-row" *ngIf="isPreventiveMaintenance()">
        <div class="file-upload">
          <label for="fileInput" class="file-label">Upload Completed Form</label>
          <input
            type="file"
            id="fileInput"
            (change)="onFileSelected($event)"
            accept=".pdf,.doc,.docx, .xslx"
            class="file-input"
          />
        </div>
      </div>
      <app-button (buttonClick)="onSubmit()" text="Create Request"></app-button>
    </div>
  </form>
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
</div>
